from flask import Flask, jsonify
import random

app = Flask(__name__)

@app.route('/random', methods=['GET'])
def random_number():
    number = random.randint(5, 10)
    return jsonify({'number': number})

if __name__ == '__main__':
    app.run(debug=True)